*{
    font-family:Roboto, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.censura {
        background-color: #E7E7E7;
}
.header{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;

    padding-bottom: 0;
    margin: 0;
}

.list{
    display: flex;
    justify-content: space-between;
    gap:30px;
}

.item {
    list-style: none;

}
.lines1 {
color: #81C4FF;
margin-left: 2px;
margin-right: -5px;
}
.lines2 {
color: #16588E;
margin-right: -5px;
}
.lines3 {
color: #E7222E;
margin-right: -5px;
}

.item a{
     text-decoration: none;
    color: black;
    font-weight: bold;
}

.item a:hover{
    color: #787878;
    transition:0.2s;
}

/* container*/


.container__position-car{
    display: flex;
    justify-content: space-between;
}

.container-car {

        padding: 0;
        margin: 0;
}

.title {
    font-size: 37px;
      padding: 141px 141px 0 141px ;
        margin: 0;
}

.container-img{
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: bold;

}

.description-logo{
    padding-left: 141px;
}

.image-car{
    padding-top: 225px;
    padding-bottom: 59px;
    padding-right: 60px;    
}

/* slides bmw*/

.description-bmw{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.style-b{
    color: #81C4FF;
    font-weight: bold;
}

.style-m{
    font-weight: bold;
    color: #16588E;
}

.style-w{
    font-weight: bold;
    color: #E7222E;
}

.b h2 {
    margin: 19px 0 5px 0 ;
}

.description-style{
    font-weight: bold;
    margin: 0;
}