*{
    font-family:Roboto, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.censura {
        background-color: #E7E7E7;
}
.header{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;

    padding-bottom: 0;
    margin: 0;
}

.list{
    display: flex;
    justify-content: space-between;
    gap:30px;
}

.item {
    list-style: none;

}
.lines1 {
color: #81C4FF;
margin-left: 2px;
margin-right: -5px;
}
.lines2 {
color: #16588E;
margin-right: -5px;
}
.lines3 {
color: #E7222E;
margin-right: -5px;
}

.item a{
     text-decoration: none;
    color: black;
    font-weight: bold;
}

.item a:hover{
    color: #787878;
    transition:0.2s;
}

/* container*/


.container__position-car{
    display: flex;
    justify-content: space-between;
}

.container-car {

        padding: 0;
        margin: 0;
}

.title {
    font-size: 37px;
      padding: 141px 141px 0 141px ;
        margin: 0;
}

.container-img{
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: bold;

}

.description-logo{
    padding-left: 141px;
}

.image-car{
    padding-top: 225px;
    padding-bottom: 59px;
    padding-right: 60px;    
}

/* slides bmw*/

.description-bmw{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    z-index: 100000;
    margin-bottom: -150px;
}

.style-b{
    color: #81C4FF;
    font-weight: bold;
}

.style-m{
    font-weight: bold;
    color: #16588E;
}

.style-w{
    font-weight: bold;
    color: #E7222E;
}

.b h2 {
    margin: 19px 0 5px 0 ;
}

.description-style{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* slider */

.slides{
    position: relative;
    z-index: -9;
}
.slider {
    z-index: -10;
    position: relative;
    display: flex;    
    align-items: center; 
}

.models {
    position: relative;
}
.lines {
    position: relative;
    bottom: 0;
}
.car-models {
    position: absolute;
    bottom: 250px;
    left: 19px;
    z-index: 2;
}
.star {
    align-items: center;
    text-align: center;
    margin-top: -200px;
    padding-left: 20%;
}
.title-models {
    text-align: center;
    font-size: 72px;
    color: #7A7A7A;
    font-weight: 400;
    margin-bottom: 0;
}
.rating {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    padding-bottom: 30px;
}
.position__item-models{
    padding-left: 0;
}

.item-models {
    text-align: center;
    list-style: none;
    font-weight: bold;
}

.arrow{
}

.arrow-next {
    padding-left: 20px;
}


/* Footer */

.footer {
    position: relative;
    z-index: 10;           
    background: #d3d3d3;
    padding: 40px 0 0 0;
    margin-top: -280px;     
}

.thx{
    font-size: 32px;
}

.footer-text{
    text-align: center;
}

.footer-description{
    font-style: italic;
}

.sinestatator{
    text-align: left;
    z-index: 100;
    margin: 0;
    padding-left: 20px;
    width: 150px;
    height: 50px;
    
}

.footer-icons {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    right:0px;
    width: 300px;
    bottom:60px;

    
}




